.events {
  position: relative;
  width: 60%;
  height: 100%;
  padding: 3rem 0;
}

.event-range-container {
  display: flex;
  color: #fff;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}
.event-range-container h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.3rem;
  font-size: 1.8rem;
  font-weight: normal;
}

.selected-date {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  color: #78879e;
  margin-bottom: 2rem;
  text-align: center;
}
