.event {
  width: 100%;
  height: 7rem;
  /* background-color: #00a3ff; */
  padding: 1.5rem 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.event-date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.event-date {
  font-size: clamp(1rem, 1cqi, 1.2rem);
  color: #ddd;
}

.event-range {
  font-size: clamp(1.3rem, 1cqi, 1.6rem);
  line-height: 4rem;
  font-weight: bold;
  color: #fff;
}

.event-title {
  font-size: clamp(1.2rem, 1cqi, 1.4rem);
  line-height: 2rem;
  color: #fff;
  width: 75%;
  padding: 0 3rem 0 1rem;
  overflow-wrap: break-word;
}

.event-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* TODO change button selector for icon used or div container for icons */
.event-buttons button {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;

  /* Button preset - remove when changed to icon */
  background-color: transparent;
  border: none;
}
