.calendar {
  width: 40%;
}

.heading {
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(4rem, 3.8cqi, 7rem);
  color: #fff;
  letter-spacing: 0.3rem;
  padding-left: 1.3rem;
}

.navigate-date {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 3.5rem 0;
}

.navigate-date h2 {
  font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
  color: #bbb;
  padding-left: 1.3rem;
}

.buttons {
  display: flex;
  column-gap: 1rem;
  margin-left: auto;
}

/* TODO change button selector for icon used or div container for icons */
.buttons button {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #2c3542;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #c97f1a;

  /* Button preset - remove when changed to icon */
  border: none;
}

.weekdays {
  width: 100%;
  display: flex;
  margin: 3rem 0;
}

.weekdays span {
  width: calc(100% / 7);
  font-size: clamp(1rem, 0.8cqi, 1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  color: #78879e;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days span {
  font-size: clamp(1.2rem, 1cqi, 1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  cursor: pointer;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.current-day {
  background-color: #ef9011;
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 1rem rgba(239, 144, 17, 0.3);
}
